HomeworldSDL.big

Mac/build
Mac/Homeworld.xcodeproj/*.mode*
Mac/Homeworld.xcodeproj/*.pbxuser

src/Missions/Generated

tools/biggie/biggie

tools/kas2c/kas2c
tools/kas2c/lexer.c
tools/kas2c/parser.c
tools/kas2c/parser.h

Linux/Makefile
Linux/config.h
Linux/config.log
Linux/config.status
Linux/libtool
Linux/src
Linux/stamp-h1
Linux/tools

Makefile.am
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config
configure
configure.ac
